Flask
Flask-SQLAlchemy
Flask-JWT-Extended
pymysql
python-dotenv
Flask-Migrate
gunicorn
cryptography
requests
numpy
opencv-python-headless
facenet-pytorch
torch
torchvision
easyocr
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
