Flask
Flask-SQLAlchemy
Flask-JWT-Extended
pymysql
python-dotenv
Flask-Migrate
gunicorn
# cryptography
requests
numpy
opencv-python-headless
facenet-pytorch
torch
torchvision
easyocr
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
Flask-APScheduler
stripe
fpdf
flasgger
jsonschema<4.18
Flask-Mail
beautifulsoup4
Flask-Limiter
Flask-Talisman
pydantic
email-validator
Flask-Cors
